#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Use network installation
# Note: Booting from pxe image does not support https for url
# centos.org does not support https, but other mirrors do
###url  --url="http://mirror.centos.org/centos/7/os/x86_64/"
url  --url="https://mirrors.edge.kernel.org/centos/7/os/x86_64/"

# Install Repositories
# Note: https is supported from repositories when booting from pxe image
repo --name="CentOS"  --mirrorlist="http://mirrorlist.centos.org/?release=7&arch=x86_64&repo=os"

# CCE-26895-3	Ensure Software Patches Installed
repo --name="updates" --mirrorlist="http://mirrorlist.centos.org/?release=7&arch=x86_64&repo=updates"

repo --name="extras" --mirrorlist="http://mirrorlist.centos.org/?release=7&arch=x86_64&repo=extras"
repo --name="sclo"   --baseurl="http://mirror.centos.org/centos/7/sclo/x86_64/sclo/"
repo --name="sclrh"  --baseurl="http://mirror.centos.org/centos/7/sclo/x86_64/rh/"

repo --name="cr"     --baseurl="http://mirror.centos.org/centos/7/cr/x86_64/"

repo --name="epel"   --mirrorlist="http://mirrors.fedoraproject.org/metalink?repo=epel-7&arch=x86_64"

# Enabling elrepo on virtual machines may have unexpected results
#repo --name="elrepo" --baseurl="http://elrepo.org/linux/elrepo/el7/x86_64/"

# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --noipv6 --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$t7zAbYpJF46Sy1Ph$Jt6gRK2VEUdK/nijkW0vgTx162WslKzxjZg/DooyiVoz/hbm0267acAGnS63eTOL6TxE12kp.oJnMT4JSyyiX/
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
@debugging
@development
@system-admin-tools
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
